<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/style.css">
    <script src="/js/home/signup.js" defer></script>
    <title>회원가입 페이지</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form class="signup-form">
                <input id="id" type="text" placeholder="아이디"/>
                <input id="name" type="text" placeholder="이름"/>
                <input id="passwd" type="password" placeholder="비밀번호"/>
                <input id="passwd-confirm" type="password" placeholder="비밀번호 확인"/>
                <p id="btn">회원가입</p>
                <p class="message">이미 계정이 있으신가요? <a href="/login">로그인</a></p>
            </form>
        </div>
    </div>
</body>
</html>